<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div class="card text-center">
  <div class="card-header">
    Edit Post
  </div>
  <div class="card-body">
    <form class="editPost">
      <div class="form-group">
        <input type="hidden" name="editPostId" value={{editPost.id}}/>
          <label for="editPostTitle">Title:</label>
          <input type="text" class="form-control" id="editPostTitle" value={{editPost.title}}>
      </div>
      <div class="form-group">
          <label for="editPostContent">Content: </label>
          <input type="textarea" class="form-control" id="editPostContent" value={{editPost.contents}}>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Update</button>
      <button class="btn btn-outline-secondary">Delete</button>
    </form>
  </div>
</div>

<script src="/js/updatePost.js"></script>