<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Tech Blog</h1>
    <p class="lead">Welcome to the Tech Blog app!</p>
  </div>
</div>


<div class="card text-center mb-4">
  <div class="card-header">
    Post Title
  </div>
  <div class="card-body">
    <p class="card-text">Post Content</p>
  </div>
  <div class="card-footer text-muted">
    Time/Date
  </div>
</div>

<div class="card text-center mb-4">
  <div class="card-header">
    Post Title
  </div>
  <div class="card-body">
    <p class="card-text">Post Content</p>
  </div>
  <div class="card-footer text-muted">
    Time/Date
  </div>
</div>

<div class="card text-center mb-4">
  <div class="card-header">
    Post Title
  </div>
  <div class="card-body">
    <p class="card-text">Post Content</p>
  </div>
  <div class="card-footer text-muted">
    Time/Date
  </div>
</div>