<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> New post</h1>
    <p class="lead">This is where you create your new post</p>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    New Post
  </div>
  <div class="card-body">
    <form class="createPost">
      <div class="form-group">
          <label for="createPostTitle">Title:</label>
          <input type="text" class="form-control" id="createPostTitle">
      </div>
      <div class="form-group">
          <label for="createPostContent">Content: </label>
          <input type="textarea" class="form-control" id="createPostContent">
      </div>
      <button type="submit" class="btn btn-outline-secondary">Create</button>
    </form>
  </div>
</div>

<script src="/js/newPost.js"></script>